src/META-INF/wsdl/www.worldtimeserver.com/wtsservice/localtime.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://worldtimeserver/wtsservice/localtime" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://worldtimeserver/wtsservice/localtime" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://worldtimeserver/wtsservice/localtime">
      <s:element name="GetLocalDateTimeString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WTSLocationID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocalDateTimeStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocalDateTimeStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLocalDateTimeStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocalDateTimeString" />
  </wsdl:message>
  <wsdl:message name="GetLocalDateTimeStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocalDateTimeStringResponse" />
  </wsdl:message>
  <wsdl:portType name="localtimeSoap">
    <wsdl:operation name="GetLocalDateTimeString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides current date and time for given WTS LocationID</wsdl:documentation>
      <wsdl:input message="tns:GetLocalDateTimeStringSoapIn" />
      <wsdl:output message="tns:GetLocalDateTimeStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="localtimeSoap" type="tns:localtimeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocalDateTimeString">
      <soap:operation soapAction="http://worldtimeserver/wtsservice/localtime/GetLocalDateTimeString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="localtimeSoap12" type="tns:localtimeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocalDateTimeString">
      <soap12:operation soapAction="http://worldtimeserver/wtsservice/localtime/GetLocalDateTimeString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="localtime">
    <wsdl:port name="localtimeSoap" binding="tns:localtimeSoap">
      <soap:address location="http://www.worldtimeserver.com/wtsservice/localtime.asmx" />
    </wsdl:port>
    <wsdl:port name="localtimeSoap12" binding="tns:localtimeSoap12">
      <soap12:address location="http://www.worldtimeserver.com/wtsservice/localtime.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>